[submodule "extra/vendor/Servo"]
	path = extra/vendor/Servo
	url = https://github.com/arduino-libraries/Servo
[submodule "extra/vendor/googletest"]
	path = extra/vendor/googletest
	url = https://github.com/google/googletest
[submodule "extra/vendor/doxygen"]
	path = extra/vendor/doxygen
	url = https://github.com/doxygen/doxygen
